<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{page_Title}}</title>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <link rel="stylesheet" href="/css/style.css">

    <link rel="icon" type="image/ico" href="img/favicon.ico">


</head>

<body>
    <div class="container">
        <div class="container-title">
        <h1>PunkAge account management</h1>
        <p>Here you can access account management and charactor information for your PunkAge Account.</p>
        </div>

        <div class="container-content">
            <h2>Manage your account below</h2>

            <div class="container-content-link">
               <h2>Change Password: </h2></a>


            </div>

            <div class="container-content-link">
                <div class="form-group">
                <form action="/auth/change_password" method="POST">
                    <input type="password" name="password" placeholder="New Password" required>
                    <input type="password" name="password_confirm" placeholder="Confirm Password" required>
                    <input type="submit" value="Change Password">
                </form>
                </div>
            </div>
        </div>

        {{#if message }}
            <h4>{{message}}</h4>
        {{/if}}

    </div>


    <footer>
        <div class="footer">
                <div class="footer-about">
                    <p>
                        Website created by the <a href="#">PunkAge Team</a>. 
                        This website is not intended to be used for any commercial purposes.
                    </p>
                </div>

                <div class="footer-links">
                    <a href="/">Home</a>
                    <a href="/dashboard">Dashboard</a>
                    <a href="/characters">Characters</a>
                    <a href="/logout">Logout</a>
                </div>
                
        </div>
    </footer>
    
</body>

</html>