<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{page_Title}}</title>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <link rel="stylesheet" href="/css/style.css">

    <link rel="icon" type="image/ico" href="img/favicon.ico">


</head>

<body>
    <div class="container">
        <div class="container-title">
        <h1>Welcome to Punkage!</h1>
        <p>Here you can access account management and charactor information for your PunkAge Account.</p>
        </div>

        <div class="container-content"> 
            <div class="container-content-left">
                <h2>Account Management</h2>
                <p>Here you can manage your PunkAge Account. You can change your password, email, and username.</p>
                <a href="/account">Account Management</a>
            </div>
            <div class="container-content-right">
                <h2>Character Management</h2>
                <p>Here you can manage your PunkAge Characters. You can view and edit your characters.</p>
                <a href="/characters">Character Management</a>
            </div>
        </div>

    </div>


    <footer>
        <div class="footer">
                <div class="footer-about">
                    <p>
                        Website created by the <a href="#">PunkAge Team</a>. 
                        This website is not intended to be used for any commercial purposes.
                    </p>
                </div>

                <div class="footer-links">
                    <a href="/">Home</a>
                    <a href="/dashboard">Dashboard</a>
                    <a href="/characters">Characters</a>
                    <a href="/logout">Logout</a>
                </div>
                
        </div>
    </footer>
    
</body>

</html>